workflows/b6HDpQuA2ZD3Txkj.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-08T03:38:00.000Z",
    "createdAt": "2026-01-08T03:36:26.790Z",
    "versionId": "80c4d0c9-750a-4fa3-a085-8156b8b768d1",
    "workflowId": "b6HDpQuA2ZD3Txkj",
    "nodes": [
      {
        "parameters": {
          "content": "## Subworkflow",
          "height": 751,
          "width": 2547,
          "color": 6
        },
        "id": "e0417ae4-48b3-483c-b1a1-f81b8f0250dd",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          528,
          -64
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "72acc8f1-1b19-4c6f-a596-2ebe226bb13b",
        "name": "Return",
        "type": "n8n-nodes-base.set",
        "position": [
          2880,
          144
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "772c03ec-88cb-4104-a420-f11315a7c107",
        "name": "Get File",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1968,
          16
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 1,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "affe3c4d-e658-4c2b-988a-5448539357be",
        "name": "If file too large",
        "type": "n8n-nodes-base.if",
        "position": [
          1776,
          48
        ],
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "11fd9057-a513-4119-8985-0ad552c5965b",
        "name": "Merge Items",
        "type": "n8n-nodes-base.merge",
        "position": [
          1776,
          304
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
        },
        "id": "85a57a68-eb8c-4946-8d6a-6eae03119b74",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          1968,
          304
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json.github_status}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "5b2d3a4a-0b61-4077-95e2-1f5f9d275ef6",
        "name": "Check Status",
        "type": "n8n-nodes-base.switch",
        "position": [
          2192,
          304
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "da31b9dc-aafe-4ef4-8059-3a1e4ae0ac57",
        "name": "Same file - Do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          2416,
          144
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "c95fa61e-e0e9-47a5-a3c8-cf65d9d27645",
        "name": "File is different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          2416,
          304
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "33bb34e4-88d3-4e2b-82d9-03624ac5acad",
        "name": "File is new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          2416,
          464
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "value": "jamie-msi",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "name"
          },
          "filePath": "workflows/.json",
          "commitMessage": "reset"
        },
        "id": "61c1ea87-2e24-4c41-abff-7767ebdd2675",
        "name": "Create new file",
        "type": "n8n-nodes-base.github",
        "position": [
          1504,
          784
        ],
        "typeVersion": 1,
        "webhookId": "2d4f6dfa-e8d9-4726-a5da-f585d9c49cbf",
        "credentials": {
          "githubApi": {
            "id": "8XtvNxvSHiW1FdtV",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.name }}"
          },
          "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "66a1aa87-c1bc-4b22-a46c-0ada5d3dfa9d",
        "name": "Edit existing file",
        "type": "n8n-nodes-base.github",
        "position": [
          2640,
          288
        ],
        "typeVersion": 1,
        "webhookId": "fca60aab-4645-4a16-b105-3a8a2cfc376e",
        "credentials": {
          "githubApi": {
            "id": "8XtvNxvSHiW1FdtV",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.name }}"
          },
          "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "553bf865-1561-402a-9ec6-9de6ecb3fa6a",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          1568,
          48
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "f565e29e-a7df-40dd-94ca-60b05561ceca",
        "credentials": {
          "githubApi": {
            "id": "8XtvNxvSHiW1FdtV",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
                "name": "repo.owner",
                "type": "string",
                "value": " jamie-msi"
              },
              {
                "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
                "name": "repo.name",
                "type": "string",
                "value": "n8n-backup"
              },
              {
                "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
                "name": "repo.path",
                "type": "string",
                "value": "=workflows/"
              }
            ]
          },
          "options": {}
        },
        "id": "1083d3f2-5003-4da4-bf3b-1743176f39c0",
        "name": "Globals",
        "type": "n8n-nodes-base.set",
        "position": [
          1360,
          208
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## Edit this node 👇",
          "height": 80,
          "width": 150,
          "color": 4
        },
        "id": "124785ab-2b93-4dd4-8039-58307f4e58ee",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1328,
          80
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "12cad226-e091-4bbb-aed9-a8e01311772c",
                "name": "tags[0].name",
                "type": "string",
                "value": "={{ $('Execute Workflow Trigger').item.json.tags[0].name }}/"
              }
            ]
          },
          "options": {}
        },
        "id": "e8449d2c-b4ab-456a-90ea-179e9f23d37d",
        "name": "/",
        "type": "n8n-nodes-base.set",
        "position": [
          1120,
          96
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "operator": {
                        "type": "object",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.tags[0] }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "tag"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "2656fbe3-fe35-4770-9c03-9a455ec618e4",
                      "operator": {
                        "type": "object",
                        "operation": "notExists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.tags[0] }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "none"
              }
            ]
          },
          "options": {}
        },
        "id": "d607d678-043d-4c44-8ccf-8cbe857e3370",
        "name": "tag?",
        "type": "n8n-nodes-base.switch",
        "position": [
          880,
          208
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "4a73ea6d-073d-43df-a25d-98dd84d7ccea",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          640,
          368
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "jamie-msi",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n-backup",
            "mode": "name"
          },
          "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
        },
        "id": "6fc5fbf4-949e-4c78-94a2-b2b81f6e65d5",
        "name": "Create new file1",
        "type": "n8n-nodes-base.github",
        "position": [
          2656,
          464
        ],
        "typeVersion": 1,
        "webhookId": "2d4f6dfa-e8d9-4726-a5da-f585d9c49cbf",
        "credentials": {
          "githubApi": {
            "id": "8XtvNxvSHiW1FdtV",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "Get File": {
        "main": [
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file too large": {
        "main": [
          [
            {
              "node": "Get File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Items": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "Same file - Do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Same file - Do nothing": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is different": {
        "main": [
          [
            {
              "node": "Edit existing file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is new": {
        "main": [
          [
            {
              "node": "Create new file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file": {
        "main": [
          []
        ]
      },
      "Edit existing file": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "If file too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Globals": {
        "main": [
          [
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "/": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "tag?": {
        "main": [
          [
            {
              "node": "/",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "tag?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Items",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Create new file1": {
        "main": [
          [
            {
              "node": "Return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jamie Tsai",
    "name": "20260108",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "80c4d0c9-750a-4fa3-a085-8156b8b768d1",
  "connections": {
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tag?": {
      "main": [
        [
          {
            "node": "/",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file1": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "tag?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-08T03:03:58.780Z",
  "id": "b6HDpQuA2ZD3Txkj",
  "isArchived": false,
  "meta": null,
  "name": "Backup workflows to GitHub",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "72acc8f1-1b19-4c6f-a596-2ebe226bb13b",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        2880,
        144
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "772c03ec-88cb-4104-a420-f11315a7c107",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1968,
        16
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "affe3c4d-e658-4c2b-988a-5448539357be",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        1776,
        48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "11fd9057-a513-4119-8985-0ad552c5965b",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        1776,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "85a57a68-eb8c-4946-8d6a-6eae03119b74",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        1968,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "5b2d3a4a-0b61-4077-95e2-1f5f9d275ef6",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        2192,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "da31b9dc-aafe-4ef4-8059-3a1e4ae0ac57",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2416,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c95fa61e-e0e9-47a5-a3c8-cf65d9d27645",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2416,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "33bb34e4-88d3-4e2b-82d9-03624ac5acad",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        2416,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "66a1aa87-c1bc-4b22-a46c-0ada5d3dfa9d",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        2640,
        288
      ],
      "typeVersion": 1,
      "webhookId": "fca60aab-4645-4a16-b105-3a8a2cfc376e",
      "credentials": {
        "githubApi": {
          "id": "8XtvNxvSHiW1FdtV",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $json.repo.path }}{{ $('Execute Workflow Trigger').item.json.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "553bf865-1561-402a-9ec6-9de6ecb3fa6a",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        1568,
        48
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "f565e29e-a7df-40dd-94ca-60b05561ceca",
      "credentials": {
        "githubApi": {
          "id": "8XtvNxvSHiW1FdtV",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": " jamie-msi"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-backup"
            },
            {
              "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
              "name": "repo.path",
              "type": "string",
              "value": "=workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "1083d3f2-5003-4da4-bf3b-1743176f39c0",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        1360,
        208
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "124785ab-2b93-4dd4-8039-58307f4e58ee",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12cad226-e091-4bbb-aed9-a8e01311772c",
              "name": "tags[0].name",
              "type": "string",
              "value": "={{ $('Execute Workflow Trigger').item.json.tags[0].name }}/"
            }
          ]
        },
        "options": {}
      },
      "id": "e8449d2c-b4ab-456a-90ea-179e9f23d37d",
      "name": "/",
      "type": "n8n-nodes-base.set",
      "position": [
        1120,
        96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.tags[0] }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "tag"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2656fbe3-fe35-4770-9c03-9a455ec618e4",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.tags[0] }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "none"
            }
          ]
        },
        "options": {}
      },
      "id": "d607d678-043d-4c44-8ccf-8cbe857e3370",
      "name": "tag?",
      "type": "n8n-nodes-base.switch",
      "position": [
        880,
        208
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "jamie-msi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "name"
        },
        "filePath": "={{ $('Globals').item.json.repo.path }}{{ $('n8n').item.json.id }}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{ $('n8n').item.json.name }} ({{$json.github_status}})"
      },
      "id": "6fc5fbf4-949e-4c78-94a2-b2b81f6e65d5",
      "name": "Create new file1",
      "type": "n8n-nodes-base.github",
      "position": [
        2656,
        464
      ],
      "typeVersion": 1,
      "webhookId": "2d4f6dfa-e8d9-4726-a5da-f585d9c49cbf",
      "credentials": {
        "githubApi": {
          "id": "8XtvNxvSHiW1FdtV",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ecc68cca-79e4-4027-8093-cddad83dea1a",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -96,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "c45f734a-62de-4ffd-be7d-844ea1a059aa",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        288,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "8dHPsEmLTqNqIJDk",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b9ef4ba2-caf1-46ef-afc0-3bbf34a0ae62",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        544,
        256
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "62a822c8-32b5-4599-a39b-6cf1f446a51d",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -80,
        352
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "jamie-msi",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "name"
        },
        "filePath": "workflows/.json",
        "commitMessage": "=reset"
      },
      "id": "a15292e2-46e7-4ae5-a47a-2a9e24185772",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        2000,
        816
      ],
      "typeVersion": 1,
      "webhookId": "2d4f6dfa-e8d9-4726-a5da-f585d9c49cbf",
      "credentials": {
        "githubApi": {
          "id": "8XtvNxvSHiW1FdtV",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-08T03:03:58.782Z",
      "createdAt": "2026-01-08T03:03:58.782Z",
      "role": "workflow:owner",
      "workflowId": "b6HDpQuA2ZD3Txkj",
      "projectId": "oGCkDg1E8N3mqmv6"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-08T05:41:03.254Z",
  "versionId": "53688efd-72a1-4a51-bb3e-c2b2e2f2d753"
}