workflows/bgRDczCGocHh3Qpw.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Get Language Bridge Tag": {
      "main": [
        [
          {
            "node": "Insert or update Language Bridge Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting Member Email": {
      "main": [
        [
          {
            "node": "Get Member No",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handling DateTime Issue": {
      "main": [
        [
          {
            "node": "Set Password As Mine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Register Products": {
      "main": [
        [
          {
            "node": "Handling DateTime Issue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handling DateTime Issue1": {
      "main": [
        [
          {
            "node": "Insert or Update Register Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Password As Mine": {
      "main": [
        [
          {
            "node": "Insert or Update Member",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member No": {
      "main": [
        [
          {
            "node": "Get Register Products",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Event Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Member",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Event Order Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Member": {
      "main": [
        [
          {
            "node": "Handling DateTime Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event Orders": {
      "main": [
        [
          {
            "node": "Insert or Update Event Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or Update Member": {
      "main": [
        []
      ]
    },
    "Get Event Lists": {
      "main": [
        [
          {
            "node": "Insert or Update Event Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event Order Products": {
      "main": [
        [
          {
            "node": "Insert or Update Event Order Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Language Tags": {
      "main": [
        [
          {
            "node": "Insert or Update Language Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Language Lists": {
      "main": [
        [
          {
            "node": "Insert or Update Language Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [],
        [
          {
            "node": "Get Event Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Setting Member Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a notification": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-31T07:35:55.105Z",
  "id": "bgRDczCGocHh3Qpw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sync Data From AWS DB To 42.43 DB",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "language_bridge_tag",
          "mode": "list",
          "cachedResultName": "language_bridge_tag"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -672,
        -336
      ],
      "id": "6d636162-a53f-4124-af7d-7aef77c559cf",
      "name": "Get Language Bridge Tag",
      "credentials": {
        "mySql": {
          "id": "G2rWnGs8MQ9QmyfQ",
          "name": "AWS DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "language_bridge_tag",
          "mode": "list",
          "cachedResultName": "language_bridge_tag"
        },
        "columnToMatchOn": "no",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -400,
        -336
      ],
      "id": "b09b75e3-7211-4d8d-bde7-4ba3e8f65545",
      "name": "Insert or update Language Bridge Tag",
      "credentials": {
        "mySql": {
          "id": "86yWQSQMuihfytrg",
          "name": "172.16.42.43 DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "content": "## Sync Languages\n",
        "height": 608,
        "width": 1744,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        -736
      ],
      "id": "49aa5ecb-e1c1-4983-b03e-a696de6151bd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sync Event Lists\n",
        "height": 224,
        "width": 1744,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        -96
      ],
      "id": "15e49202-b11b-49d5-b366-82b0da0dd9d0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Sync Member\n ",
        "height": 848,
        "width": 1744,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        176
      ],
      "id": "93f3a958-484d-481a-a418-36b9450e3265",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d20914a0-4a7d-428b-a470-81dedbcc4fc5",
              "name": "=email",
              "value": "=csp12051205@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        496
      ],
      "id": "390a0410-4a05-4536-8f78-931efb2680ca",
      "name": "Setting Member Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d20914a0-4a7d-428b-a470-81dedbcc4fc5",
              "name": "=dtime",
              "value": "={{ $json.dtime === '0000-00-00 00:00:00' ? '2026-01-01 00:00:00' : $json.dtime }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        288
      ],
      "id": "c234780f-e983-4b36-ab3f-eb3fb65a34f4",
      "name": "Handling DateTime Issue"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "register_products",
          "mode": "list",
          "cachedResultName": "register_products"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "=member_no",
              "value": "={{ $json.member_no }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -160,
        464
      ],
      "id": "b5e11673-7b0c-4c4c-b86b-3f9221fc5f75",
      "name": "Get Register Products",
      "credentials": {
        "mySql": {
          "id": "G2rWnGs8MQ9QmyfQ",
          "name": "AWS DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d20914a0-4a7d-428b-a470-81dedbcc4fc5",
              "name": "=prod_start_date",
              "value": "={{ $json.prod_start_date === '0000-00-00' ? '2026-01-01' : $json.dtime }}",
              "type": "string"
            },
            {
              "id": "fb9bde18-81a4-4f32-8542-9e8881ebe34d",
              "name": "prod_end_date",
              "value": "={{ $json.prod_end_date === '0000-00-00' ? '2026-01-01' : $json.dtime }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        464
      ],
      "id": "0deeffc0-8c3f-473f-9bc8-7ec8b05f8043",
      "name": "Handling DateTime Issue1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d20914a0-4a7d-428b-a470-81dedbcc4fc5",
              "name": "=pwd",
              "value": "=e00eb811e7b87c3cee9516584a5064ad",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        288
      ],
      "id": "24ca3dc3-f38d-4af3-8f0e-bca4ee8ee9b7",
      "name": "Set Password As Mine"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "members",
          "mode": "list",
          "cachedResultName": "members"
        },
        "where": {
          "values": [
            {
              "column": "=email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -560,
        496
      ],
      "id": "2b69bcf8-538f-4359-9897-e3e09a653f72",
      "name": "Get Member No",
      "credentials": {
        "mySql": {
          "id": "G2rWnGs8MQ9QmyfQ",
          "name": "AWS DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "members",
          "mode": "list",
          "cachedResultName": "members"
        },
        "where": {
          "values": [
            {
              "column": "=member_no",
              "value": "={{ $json.member_no }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -160,
        288
      ],
      "id": "a4da8ed6-16f4-45a1-a1df-dfc10804085c",
      "name": "Get Member",
      "credentials": {
        "mySql": {
          "id": "G2rWnGs8MQ9QmyfQ",
          "name": "AWS DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "event_order",
          "mode": "list",
          "cachedResultName": "event_order"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "=member_no",
              "value": "={{ $json.member_no }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -160,
        640
      ],
      "id": "5cc010f1-2bfd-42c3-ab4b-83c9e67bdfd6",
      "name": "Get Event Orders",
      "credentials": {
        "mySql": {
          "id": "Dpz7FnTuTNNy0btV",
          "name": "AWS DB - msi_event_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "event_order",
          "mode": "list",
          "cachedResultName": "event_order"
        },
        "columnToMatchOn": "no",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        512,
        640
      ],
      "id": "93a9feca-e162-46a5-a21c-cacc838e9b45",
      "name": "Insert or Update Event Orders",
      "credentials": {
        "mySql": {
          "id": "GD6nxlgwEqCeo1wg",
          "name": "172.16.42.43 DB - msi_event_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "register_products",
          "mode": "list",
          "cachedResultName": "register_products"
        },
        "columnToMatchOn": "register_no",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        512,
        464
      ],
      "id": "3623a103-a7c1-4968-a8bf-90359eff22be",
      "name": "Insert or Update Register Products",
      "credentials": {
        "mySql": {
          "id": "86yWQSQMuihfytrg",
          "name": "172.16.42.43 DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "members",
          "mode": "list",
          "cachedResultName": "members"
        },
        "columnToMatchOn": "member_no",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        512,
        288
      ],
      "id": "53c6b6d5-925e-4e81-ad98-14c184f650e3",
      "name": "Insert or Update Member",
      "credentials": {
        "mySql": {
          "id": "86yWQSQMuihfytrg",
          "name": "172.16.42.43 DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "event_list",
          "mode": "list",
          "cachedResultName": "event_list"
        },
        "where": {
          "values": [
            {
              "column": "no",
              "value": "4655"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -672,
        -32
      ],
      "id": "2a0ab2c9-73d0-4ef4-b4eb-a5394cdab1e0",
      "name": "Get Event Lists",
      "credentials": {
        "mySql": {
          "id": "Dpz7FnTuTNNy0btV",
          "name": "AWS DB - msi_event_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "event_list",
          "mode": "list",
          "cachedResultName": "event_list"
        },
        "columnToMatchOn": "no",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -400,
        -32
      ],
      "id": "3c2e9495-5e9a-4f14-88d3-3fee9853c5c1",
      "name": "Insert or Update Event Lists",
      "credentials": {
        "mySql": {
          "id": "GD6nxlgwEqCeo1wg",
          "name": "172.16.42.43 DB - msi_event_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "event_order_product",
          "mode": "list",
          "cachedResultName": "event_order_product"
        },
        "columnToMatchOn": "no",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        512,
        816
      ],
      "id": "b8fa36d5-e3e1-444b-8374-f9e546031087",
      "name": "Insert or Update Event Order Products",
      "credentials": {
        "mySql": {
          "id": "GD6nxlgwEqCeo1wg",
          "name": "172.16.42.43 DB - msi_event_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM `event_order_product` WHERE `order_no` IN (\n  SELECT `no` FROM `event_order` WHERE `member_no` = {{ $json.member_no }}\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -160,
        816
      ],
      "id": "87bba3b9-1495-4d2b-9025-b912d5a5004b",
      "name": "Get Event Order Products",
      "credentials": {
        "mySql": {
          "id": "Dpz7FnTuTNNy0btV",
          "name": "AWS DB - msi_event_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "language_tag",
          "mode": "list",
          "cachedResultName": "language_tag"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -672,
        -512
      ],
      "id": "15569929-7c10-49da-a711-2d23c7bd1a53",
      "name": "Get Language Tags",
      "credentials": {
        "mySql": {
          "id": "G2rWnGs8MQ9QmyfQ",
          "name": "AWS DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "language_list",
          "mode": "list",
          "cachedResultName": "language_list"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -672,
        -688
      ],
      "id": "e5d31a21-86d8-49cd-b491-08acc7be7d78",
      "name": "Get Language Lists",
      "credentials": {
        "mySql": {
          "id": "G2rWnGs8MQ9QmyfQ",
          "name": "AWS DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "language_list",
          "mode": "list",
          "cachedResultName": "language_list"
        },
        "columnToMatchOn": "lang_no",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -400,
        -688
      ],
      "id": "8177d528-23d0-496e-b4d1-2d1a3d6fd23b",
      "name": "Insert or Update Language Lists",
      "credentials": {
        "mySql": {
          "id": "86yWQSQMuihfytrg",
          "name": "172.16.42.43 DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": {
          "__rl": true,
          "value": "language_tag",
          "mode": "list",
          "cachedResultName": "language_tag"
        },
        "columnToMatchOn": "no",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -400,
        -512
      ],
      "id": "6f42d30a-2efd-4aef-b827-b4a82eda72bf",
      "name": "Insert or Update Language Tags",
      "credentials": {
        "mySql": {
          "id": "86yWQSQMuihfytrg",
          "name": "172.16.42.43 DB - msi_product_registration_2012"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.chatInput }}",
        "rules": {
          "rules": [
            {
              "value2": "Sync Languages (Lists/Tags/Bridge)"
            },
            {
              "value2": "Sync Event Lists",
              "output": 1
            },
            {
              "value2": "Sync Member",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "fdc326a9-a7d4-4991-858d-8ab9de092956",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1408,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -944,
        1104
      ],
      "id": "3801da37-9d67-4f29-a00a-1c418c1afd4b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1872,
        -16
      ],
      "id": "e73d7d16-e3ca-4002-812e-228a5f4f4c37",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Sync",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Run Options",
              "fieldType": "dropdown",
              "defaultValue": "None",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sync Event Lists"
                  },
                  {
                    "option": "Sync Languae"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1632,
        -16
      ],
      "id": "2d8810cd-53f0-404a-b975-6e1570475e68",
      "name": "Wait",
      "webhookId": "39fc0184-5504-4bd5-99f8-865ec21ff03e"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.line",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "cbaeb797-b6b7-4c80-97a5-a4f21d17967c",
      "name": "Send a notification"
    },
    {
      "parameters": {
        "operation": "multicast"
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "b49d5e85-9882-4717-8d9e-be1180b79b76",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "he1Kgc9WLQAHq6jx",
          "name": "Line Messaging account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-12-31T07:35:55.107Z",
      "createdAt": "2025-12-31T07:35:55.107Z",
      "role": "workflow:owner",
      "workflowId": "bgRDczCGocHh3Qpw",
      "projectId": "oGCkDg1E8N3mqmv6"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-09T09:36:51.289Z",
  "versionId": "6e26efb8-b8c7-4a3b-b38e-f79f468da5d9"
}